<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main id ="site-main">
    <div class='containerstp'>
        <div class="box-nav d-flex-justify-between">
          <div class="filter">
              <a href="/in"><i class="fas fa-angle-double-left"></i> All user</a>
          </div>
          </div>

          <div class="form-title text center">
              <h2 class="text-head"> New User</h2>
          </div>

<!-- form handiling -->
<%- include('include/_form') %>

<!-- form handiling -->

</div>
</main>




<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->