
  <!-- include header -->
  <%- include('include/__header') %>
  <!-- /include header -->


  <!-- main site -->
  <div class="container mt-5">
    <a href="/logout" class="btn btn-danger">Logout</a>
    <h2>Welcome <%= user.email %> </h2>
</div>
           

       <!-- main site -->

  <!-- include footer -->
  <%- include('include/__footer') %>
  <!-- /include footer -->