
  <!-- include header -->
  <%- include('include/_header') %>
  <!-- /include header -->


  <!-- main site -->
  <main id ="site-main">
    <div class='containerstp'>
        <div class="box-nav d-flex-justify-between">
          <a href="/add-item" class="border-shadow">
            <span class ="text-gradient">Add Item <i class="fas fa-users"></i></span>
        </a> 
         
          </div>

<!-- form handiling -->
<form action="/" method="POST">
    <table class="table">
        <thead class="thead-dark">
           <tr>
               <th>SL.No</th>
               <th> Item </th>
               <th>Discription</th>
               <th>Quatity</th>
               <th>Status</th>
               <th>Action</th>
            </tr> 
        </thead>
        <tbody>
            <%- include('include/_show') %>
        </tbody>

    </table>
</form>

<!-- form handiling -->

    </div>
</main>
           

       <!-- main site -->

  <!-- include footer -->
  <%- include('include/_footer') %>
  <!-- /include footer -->